@media only screen and (max-width: 1200px) {
  body {
    min-width: 992px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    min-width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 470px;
  }

  h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 470px) {
  body {
    min-width: 320px;
  }
}
